<%- include("header.ejs") %>
<!-- Menu Button -->
<div class="ui black big launch right attached fixed button" onclick="toggleSidebar()">
  <i class="content icon"></i>
</div>
<!-- Left Side Menu -->
<div class="ui center aligned inverted left vertical menu sidebar">
  <div id="menu">
    <div class="item">
      <img src="images/spotify-logo-png.png" id="menu-logo" alt="Spotify Logo">
    </div>
    <a href="/account" class="item">Account</a>
    <a href="/top/artists" class="item">Artist</a>
    <a href="/top/tracks" class="item">Tracks</a>
    <a href="/account/playlists" class="item">Playlists</a>
    <div class="item"></div>
  </div>
</div>

<!-- TODO - Remove the script from here and put it a Javascript file -->
<script>
  function toggleSidebar() {
    $('.sidebar')
      .sidebar('setting', 'transition', 'overlay')
      .sidebar('toggle');
  }
</script>

<script>
  $('a.item').click((event) => {
    $(event.target).addClass('active teal');
    setTimeout(() => {
      $(event.target).removeClass('active teal');
    }, 1000);
  });
</script>