<%- include("partials/header.ejs") %>
<!-- Main container -->
<div id="landing" class="ui fluid container">
  <!-- Main content -->
  <div class="ui center aligned grid">
    <div class="row">
      <i class="massive spotify icon" id="spotify-icon"></i>
      <h1 id="brand-name">
        TopSpot
      </h1>
    </div>
    <div class="row">
      <h3>
        Login with spotify to get insights about your most played tracks and favorite artists
      </h3>
    </div>
    <div class="row">
      <a href="/auth/spotify">
        <button class="ui large green button">
          <i class="spotify icon"></i>
          Log In *
        </button>
      </a>
    </div>
    <div class="row" id="info">
      <h5>* Spotify account is required</h5>
    </div>
    <hr />
    <div class="row">
      <a href="https://www.spotify.com/in/signup/">
        <button class="ui grey tiny button">
          <i class="spotify icon"></i>
          Sign Up for Spotify
        </button>
      </a>
    </div>
  </div>
</div>
</div>
<%- include ('partials/footer.ejs') %>