body {
  margin: 0;
}

.ui.grid {
  padding: 0 !important;
}

.ui.menu {
  border-radius: 0 !important;
}

.pushable.segment {
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 5px;
}

/* Side Menu CSS */
#navbar {
  padding-bottom: 0px;
}

#content {
  border: 0px !important;
  padding: 0px !important;
}

#menu {
  text-align: center;
  font-size: 1.2rem;
}

#menu-logo {
  width: 40px;
  margin: 10px auto;
}

.fixed.launch.button {
  position: fixed;
  top: 30px;
  left: 0;
  height: auto;
  white-space: nowrap;
  -webkit-transition: 0.3s width ease, 0.5s transform ease;
  -moz-transition: 0.3s width ease, 0.5s transform ease;
  -o-transition: 0.3s width ease, 0.5s transform ease;
  -ms-transition: 0.3s width ease, 0.5s transform ease;
  transition: 0.3s width ease, 0.5s transform ease;
}

/* Landing Page CSS */
#landing {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#spotify-icon {
  color: #1ED760;
}

#info {
  padding-top: 0;
}

#brand-name {
  font-size: 5rem;
  margin-top: 14px;
}

/* Account Page CSS */

#account {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.logout-button {
  position: absolute;
  right: 10px;
  top: 30px;
}

.user-image {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 2px solid #1ED760;
}

.user-name {
  font-size: 4rem;
}

hr {
  width: 50%
}

#page-heading {
  font-size: 7rem;
  padding: 10px;
}

/* Artist Page */
#artists {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.artist-name {
  color: #F05F6D;
}

.genre {
  text-transform: capitalize;
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 4px;
}

#genre-heading {
  font-size: 1.2rem;
  color: crimson;
}

.center-content {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#card {
  height: 400px;
}

#artist-card {
  height: 460px;
}

#artist-image {
  width: 100%;
  max-height: 280px;
}

/* Tracks Page */
#track-image {
  width: 100%;
  max-height: 450px;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    margin: 0 !important;
  }

  #page-heading {
    font-size: 5.5rem;
    padding: 10px;
  }

  #track-image {
    max-height: 350px;
  }

}