body {
  margin: 0;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#spotify-icon {
  color: #1ED760;
}

#info {
  padding-top: 0;
}

#brand-name {
  font-size: 5rem;
  margin-top: 14px;
}

#menu {
  text-align: center;
  font-size: 1.2rem;
}

#menu-logo {
  width: 100px;
  margin: 10px auto;
}

.fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;
  height: auto;
  white-space: nowrap;
  -webkit-transition: 0.3s width ease, 0.5s transform ease;
  -moz-transition: 0.3s width ease, 0.5s transform ease;
  -o-transition: 0.3s width ease, 0.5s transform ease;
  -ms-transition: 0.3s width ease, 0.5s transform ease;
  transition: 0.3s width ease, 0.5s transform ease;
}